@model ProjetoTCM.Infrastructure.Common.ObjectReply<List<ProjetoTCM.Domain.General.ProviderDomain>>
@{
    ViewBag.Title = "Provider";

}

<h2>Fornecedor</h2>

<a href="~/Provider/CadastroForn"> <button class="btn btn-success create">  Criar Novo Poduto  <i class="glyphicon glyphicon-open"></i></button> </a>

@using (Html.BeginForm("FilterBy", "Provider", FormMethod.Post))
{



    <table class="table">
        <p>
            Digite para buscar: @Html.TextBox("paramFilter")
            <input type="submit" value="Buscar" />
        </p>

        <tr>
            <th> &nbsp;&nbsp;&nbsp; Nome &nbsp;&nbsp;&nbsp;</th>
            <th> &nbsp;&nbsp;&nbsp; CNPJ &nbsp;&nbsp;&nbsp;</th>
            <th> &nbsp;&nbsp;&nbsp; Endereço &nbsp;&nbsp;&nbsp;</th>
            <th> &nbsp;&nbsp;&nbsp; Email &nbsp;&nbsp;&nbsp;</th>
           
        </tr>
        @if (Model == null || Model.Entity == null)
        {
            <tr>
                <td>
                    Não há registros cadastrados.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in ((ProjetoTCM.Infrastructure.Common.ObjectReply<List<ProjetoTCM.Domain.General.ProviderDomain>>)Model).Entity)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CNPJ</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                  
                    <td>
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID })

                    </td>
                </tr>


            }
        }
    </table>

}



@*@model ProjetoTCM.Infrastructure.Common.ObjectReply<List<ProjetoTCM.Domain.General.ProviderDomain>>
    @{
        ViewBag.Title = "Fornecedor";
    }

    <h2>FORNECEDOR</h2>

    <a href="~/Provider/CadastroForn"> <button class="btn btn-success create">  Criar Novo Fornecedor  <i class="glyphicon glyphicon-open"></i></button> </a>

    @using (Html.BeginForm("FilterBy", "Product", FormMethod.Post))
    {



        <Table class="pesquisa">
            <form>
                <input class="textpesquisa" type="text" placeholder="Pesquise pelo CNPJ" />
                <input type="button" value="Buscar" />
            </form>
        </Table>

        <br />
        <br />
        <br />

        <table>
            <tr>
                <th> &nbsp;&nbsp;&nbsp; NOME &nbsp;&nbsp;&nbsp;</th>
                <th> &nbsp;&nbsp;&nbsp; CNPJ &nbsp;&nbsp;&nbsp;</th>
                <th> &nbsp;&nbsp;&nbsp; ENDEREÇO &nbsp;&nbsp;&nbsp;</th>
                <th> &nbsp;&nbsp;&nbsp; Email &nbsp;&nbsp;&nbsp;</th>
                <th></th>
            </tr>

            <tr>
                <td>
                    <button class="btn btn-danger delete" data-toggle="modal" data-target="#modalExcluiForn"> <i class="glyphicon glyphicon-trash">EXCLUIR</i> </button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="~/Home/EditCliente"> <button class="btn btn-primary edit"> <i class="glyphicon glyphicon-edit">EDITAR</i> </button> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalExcluiForn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">EXCLUIR FORNECEDOR</h2>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <center>
                                <h1>Deseja excluir o fornecedor?</h1>
                            </center>
                        </form>
                    </div>

                    <br />
                    <br />

                    <div class="modal-footer">
                        <input type="button" value="Sim" /> &nbsp;&nbsp;&nbsp;
                        <input type="reset" value="Não" class="naoExclusao" />
                    </div>
                </div>
            </div>
        </div>

    }*@