@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.General.ProductDomain>
@{
    ViewBag.Title = "Edição do Produtos";
}

<h2>Edição de Produtos</h2>

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{

    <fieldset>
        <legend class="inicio">Insira os dados do cliente para efetuar a alteração:</legend>
    </fieldset>

    @Html.HiddenFor(x => x.Entity.ID)
    <div>
        <label>Nome</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Name, new { name = "Name", placeholder = "Nome do Produto", autocomplete = "off" })
        <br />
        <br />
    </div>

    <div>
        <label>DESCRIÇÃO DO PRODUTO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Description, new { name = "Description", placeholder = "Descrição do Produto" })

        <br />
        <br />
    </div>

    <div>
        <label>MARCA</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Brand, new { name = "Brand", placeholder = "Marca do Produto", autocomplete = "off" })

        <br />
        <br />
    </div>

    <div>
        <label>MODELO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Model, new { name = "Model", placeholder = "MODELO do Produto", autocomplete = "off" })

        <br />
        <br />
    </div>

    <div>
        <label>PREÇO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.UnitPrice, new { name = "UnitPrice", placeholder = "Preço do Produto" })

        <br />
        <br />
    </div>
    <div>
        <label>CÓDIGO DO PRODUTO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.ExternalCode, new { name = "ExternalCode", placeholder = "Codigo do produto" })

        <br />
        <br />
    </div>


    if (Model != null)
    {
        @Model.Message;
    }

    <input class="botaoSalvaProduto" type="submit" value="Salvar" />
    <a href="~/Product/Produto"> <input type="button" class="voltar botaoCancelaProduto" value="Voltar" /> </a>
}