@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.General.ProductDomain>
@{
    ViewBag.Title = "Produtos";
}

<h2>EDIÇÃO DE PRODUTO</h2>

@using (Html.BeginForm("Update", "Client", FormMethod.Post))
{

    <fieldset>
        <legend class="inicio">Insira os dados do cliente para efetuar a alteração:</legend>
    </fieldset>

    @Html.HiddenFor(x => x.Entity.ID)
    <div>
        <label>Nome</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Name, new { name = "Name", placeholder = "Nome do Produto", autocomplete = "off" })
        @*<input class="input" type="text" name="Name" autocomplete="off" placeholder="Nome" />*@
        <br />
        <br />
    </div>

    <div>
        <label>DESCRIÇÃO DO PRODUTO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Description, new { name = "Description", placeholder = "Descrição do Produto" })
        @*<input class="input" type="text" name="Description" placeholder="Descrição do Produto" />*@
        <br />
        <br />
    </div>

    <div>
        <label>MARCA</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Brand, new { name = "Brand", placeholder = "Marca do Produto", autocomplete = "off" })
        @*<input class="input" type="text" name="Brand" placeholder="Marca" autocomplete="off" />*@
        <br />
        <br />
    </div>

    <div>
        <label>MODELO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.Model, new { name = "Model", placeholder = "MODELO do Produto", autocomplete = "off" })
        @*<input class="input" type="text" name="Model" placeholder="MODELO" autocomplete="off" />*@
        <br />
        <br />
    </div>

    <div>
        <label>PREÇO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.UnitPrice, new { name = "UnitPrice", placeholder = "Preço do Produto" })
        @*<input class="input" type="text" name="UnitPrice" placeholder="Preço do Produto" /*@>
        <br />
        <br />
    </div>


    <div>
        <label>CÓDIGO DO PRODUTO</label>
        <br />
        @Html.TextBoxFor(x => x.Entity.ExternalCode, new { name = "ExternalCode", placeholder = "Quantidade em estoque" })
        <input class="input" type="text" name="ExternalCode" placeholder="Quantidade em estoque" />
        <br />
        <br />
    </div>
 

    if (Model != null)
    {
        @Model.Message;
    }

    <input class="botaoSalvaProduto" type="submit" value="Salvar" />
    <input class="botaoCancelaProduto" type="reset" value="Cancelar" />
}