
@{
    ViewBag.Title = "Produtos";

}

<h2>PRODUTOS</h2>

<a href="~/Product/AbrirCadastroProdutos"> <button class="btn btn-success create">  Criar Novo Poduto  <i class="glyphicon glyphicon-open"></i></button> </a>

@using (Html.BeginForm("FilterBy", "Product", FormMethod.Post))
{ 



    <table class="table">
        <p>
            Digite para buscar: @Html.TextBox("paramFilter")
            <input type="submit" value="Buscar" />
        </p>
       
        <tr>
            <th> &nbsp;&nbsp;&nbsp; Nome &nbsp;&nbsp;&nbsp; </th>
            <th> &nbsp;&nbsp;&nbsp; Descrição &nbsp;&nbsp;&nbsp; </th>
            <th> &nbsp;&nbsp;&nbsp; Marca &nbsp;&nbsp;&nbsp; </th>
            <th> &nbsp;&nbsp;&nbsp; Modelo &nbsp;&nbsp;&nbsp; </th>
            <th> &nbsp;&nbsp;&nbsp; Preço &nbsp;&nbsp;&nbsp; </th>
            <th> &nbsp;&nbsp;&nbsp; Codigo &nbsp;&nbsp;&nbsp; </th>
            <th>Opções</th>
        </tr>
        @if (Model == null || Model.Entity == null)
        {
            <tr>
                <td>
                    Não há registros cadastrados.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in ((ProjetoTCM.Infrastructure.Common.ObjectReply<List<ProjetoTCM.Domain.General.ProductDomain>>)Model).Entity)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.UnitPrice.ToString("C2")</td>
                    <td>@item.ExternalCode</td>
                    <td>
                         @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                         @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                         
                    </td>
                </tr>


            }
        }
    </table>

}

